program: src_model/train.py
method: bayes
metric:
  name: val_loss
  goal: minimize

parameters:
  # --- Training Parameters to Sweep ---
  lr:
    distribution: log_uniform_values
    min: 1.0e-3
    max: 1.0e-3
  
  batch_size:
    values: [1024, 512, 256, 128]

  # --- Diffusion Parameters to Sweep ---
  timesteps:
    values: 1000
  
  beta_start:
    distribution: log_uniform_values
    min: 5.0e-6
    max: 5.0e-5
  
  beta_end:
    distribution: uniform
    min: 0.001
    max: 0.005

  model:
    parameters:
      base_layer_dim:
        value: 128
      
      map_feat_dim:
        values: [256,512]
      
      robot_feat_dim:
        values: [256,512]
      
      time_feat_dim:
        value: null # Fixed value
      num_internal_layers: 
        values: [3,4,5]
    
  dynamic:
    values: [true, false]

  epochs:
    value: 1500
  
  dataset_path:
    value: "slurm_data/slurm_19_01_8k"
  
  n_maps:
    value: 400
  
  checkpoint_freq:
    value: 250
  
  visualization_freq:
    value: 50

  dropout:
    distribution: uniform
    min: 0.1
    max: 0.4

  weight_decay:
    distribution: log_uniform_values
    min: 1e-5
    max: 1e-3

early_terminate:
  type: hyperband
  min_iter: 300 
  eta: 2