program: src_model/train.py
method: bayes
metric:
  name: val_loss
  goal: minimize

parameters:
  # --- Training Parameters to Sweep ---
  lr:
    distribution: log_uniform_values
    min: 1.0e-4
    max: 1.0e-3
  
  batch_size:
    batch_size:
      values: [1024, 512, 256, 128]

  # --- Diffusion Parameters to Sweep ---
  timesteps:
    values: [500, 1000]
  
  beta_start:
    distribution: log_uniform_values
    min: 1.0e-5
    max: 1.0e-4
  
  beta_end:
    distribution: uniform
    min: 0.01
    max: 0.05

  model:
    parameters:
      base_layer_dim:
        values: [64, 128, 256,512]
      
      map_feat_dim:
        values: [128, 256,512,1024]
      
      robot_feat_dim:
        values: [64, 128,256,512]
      
      time_feat_dim:
        value: None # Fixed value
      num_internal_layers: 
        values: [3,4,5,6,7]

  epochs:
    value: 1500
  
  dataset_path:
    value: "slurm_data/slurm_10_01_12-01-2026_00:07"
  
  n_maps:
    value: 400
  
  checkpoint_freq:
    value: 250
  
  visualization_freq:
    value: 50

# --- Optional: Early Termination ---
# This stops unpromising runs early to save compute time.
early_terminate:
  type: hyperband
  min_iter: 300  # A run must complete at least 200 epochs
  eta: 3